<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} [%p] %logger - %msg%n</pattern>
        </encoder>
    </appender>
    <appender class="ch.qos.logback.core.FileAppender" name="FILE">
        <File>target/red5-client.log</File>
        <Append>false</Append>
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{16} - %msg%n</pattern>
        </encoder>
    </appender>
    <root>
        <level value="DEBUG" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
    <logger name="org.red5.client" level="TRACE"/>
    <logger name="org.red5.io" level="DEBUG"/>
    <logger name="org.red5.server.util" level="INFO"/>
    <logger name="org.red5.server.net" level="TRACE"/>
    <logger name="org.red5.server.net.rtmp.event.BaseEvent" level="TRACE"/>
    <logger name="org.red5.server.net.rtmp.event.Notify" level="TRACE"/>
    <!-- 
    <logger name="org.red5.server.net.rtmp.RTMPHandshake" level="TRACE"/>
    <logger name="org.red5.server.net.rtmp.InboundHandshake" level="TRACE"/>
    <logger name="org.red5.client.net.rtmp.OutboundHandshake" level="TRACE"/>
     -->
    <logger name="net.sf.ehcache" level="WARN"/>
</configuration>
