target/
.settings/
.project
.classpath
.DS_Store

*.zip
*.tar.gz
*~

Thumbs.db
*.sh
log/
*.log
temp/
ci/Red5-release-steps.md
/.metadata/
tests/conf/live-api-s.facebook.com.pem
tests/conf/rtmps_truststore.p12
tests/conf/tmp/a.rtmp.youtube.com.pem
tests/conf/tmp/lax.contribute.live-video.net.pem
tests/conf/tmp/live-api-s.facebook.com.pem
