<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>live</display-name>
    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>/live</param-value>
    </context-param>
    <!-- XXX(paul) unused feature 
    <servlet>
        <servlet-name>rtmpt</servlet-name>
        <servlet-class>org.red5.server.net.rtmpt.RTMPTServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>rtmpt</servlet-name>
        <url-pattern>/fcs/*</url-pattern>
        <url-pattern>/open/*</url-pattern>
        <url-pattern>/close/*</url-pattern>
        <url-pattern>/send/*</url-pattern>
        <url-pattern>/idle/*</url-pattern>
    </servlet-mapping>
    -->
</web-app>
