<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>live</display-name>
    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>/live</param-value>
    </context-param>
    <!-- Server-Sent Events Servlet -->
    <servlet>
        <servlet-name>sse</servlet-name>
        <servlet-class>org.red5.server.net.sse.SSEServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>cors.enabled</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>   
    <servlet-mapping>
        <servlet-name>sse</servlet-name>
        <url-pattern>/events</url-pattern>
        <url-pattern>/events/*</url-pattern>
    </servlet-mapping>
    <!-- MediaBunny fMP4 stream servlet -->
    <servlet>
        <servlet-name>mediabunny</servlet-name>
        <servlet-class>org.red5.server.net.mediabunny.MediaBunnyServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>mediabunny</servlet-name>
        <url-pattern>/mediabunny</url-pattern>
    </servlet-mapping>
    <!-- XXX(paul) unused feature 
    <servlet>
        <servlet-name>rtmpt</servlet-name>
        <servlet-class>org.red5.server.net.rtmpt.RTMPTServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>rtmpt</servlet-name>
        <url-pattern>/fcs/*</url-pattern>
        <url-pattern>/open/*</url-pattern>
        <url-pattern>/close/*</url-pattern>
        <url-pattern>/send/*</url-pattern>
        <url-pattern>/idle/*</url-pattern>
    </servlet-mapping>
    -->
</web-app>
