<?xml version="1.0" ?>
<configuration>
    <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>[%p] [%thread] %logger - %msg%n</pattern>
        </encoder>
    </appender>
    <appender class="ch.qos.logback.core.FileAppender" name="FILE">
        <file>target/test.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    <root>
        <level value="DEBUG" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
    <logger name="org.red5.client" level="TRACE"/>
    <logger name="org.red5.io" level="DEBUG"/>
    <logger name="org.red5.server.util" level="INFO"/>
    <logger name="org.red5.server.net" level="TRACE"/>
    <logger name="org.red5.server.net.rtmp.event.BaseEvent" level="TRACE"/>
    <logger name="org.red5.server.net.rtmp.event.Notify" level="TRACE"/>
    <!-- 
    <logger name="org.red5.server.net.rtmp.RTMPHandshake" level="TRACE"/>
    <logger name="org.red5.server.net.rtmp.InboundHandshake" level="TRACE"/>
    <logger name="org.red5.client.net.rtmp.OutboundHandshake" level="TRACE"/>
     -->
    <logger name="net.sf.ehcache" level="WARN"/>
</configuration>