<?xml version="1.0" ?>
<configuration>
    <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>[%p] [%thread] %logger - %msg%n</pattern>
        </encoder>
    </appender>
    <appender class="ch.qos.logback.core.FileAppender" name="FILE">
        <file>target/test.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
    <logger name="org.red5.server.api.Red5" level="INFO" />
    <logger name="org.red5.io.flv.impl.FLVReader" level="WARN" />
    <logger name="org.red5.client.net.rtmp.OutboundHandshake" level="WARN" />
    <logger name="org.red5.client.net.rtmp.InboundHandshake" level="WARN" />
    <logger name="org.red5.client.net.rtmp.FBLiveConnectTest" level="DEBUG" />
    <logger name="org.red5.client.net.rtmp.TwitchConnectTest" level="DEBUG" />
    <logger name="org.red5.client.net.rtmp.YouTubeConnectTest" level="DEBUG" />
    <logger name="net.sf.ehcache" level="WARN" />
</configuration>